<div class="container__menu">
  <div class="menu__buttons">
    <div class="buttons-click" (click)="clicou('whatsapp')">
      <i class="bi bi-whatsapp"></i>
    </div>
    <div class="buttons-click" (click)="clicou('instagram')">
      <i class="bi bi-instagram"></i>
    </div>
    <div class="buttons-click" (click)="clicou('facebook')">
      <i class="bi bi-facebook"></i>
    </div>
    <div class="buttons-click" (click)="clicou('twitter')">
      <i class="bi bi-twitter"></i>
    </div>
  </div>
</div>

<!-- <div class="buttons-click">
    <i class="bi bi-whatsapp"></i>
  </div>
  <div class="buttons-click">
    <i class="bi bi-instagram"></i>
  </div>
  <div class="buttons-click">
    <i class="bi bi-facebook"></i>
  </div>
  <div class="buttons-click">
    <i class="bi bi-twitter"></i>
  </div> -->
<!-- </div> -->
