<div class="container__menu">
  <div class="menu__logo"><img src="assets/images/logotcx3.png" alt="" /></div>
  <!-- <div class="mostruario">
    <button (click)="setTheme('azul')">Az</button>
    <button (click)="setTheme('dark')">Da</button>
    <button (click)="setTheme('rosa')">Ro</button>
    <button (click)="setTheme('amarelo')">Am</button>
  </div> -->
  <div class="menu__buttons">
    <div class="menu__social-networks">
      <div class="buttons-click" (click)="clicou('instagram')">
        <i class="bi bi-instagram"></i>
      </div>
      <div class="buttons-click" (click)="clicou('facebook')">
        <i class="bi bi-facebook"></i>
      </div>
      <div class="buttons-click" (click)="clicou('twitter')">
        <i class="bi bi-twitter"></i>
      </div>
    </div>
    <div class="menu__contact" (click)="clicou('whatsapp')">
      <p>Fale conosco</p>
      <i class="bi bi-whatsapp"></i>
    </div>
  </div>
</div>
